.introSection, .storySection, .missionSection, .valuesSection, .contactSection{
    margin: 160px 160px;
    font-family: 'Space Grotesk', sans-serif;
}
.aboutSectionImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 40%;
}
.aboutUs{
    position: absolute;
    top: 1px;
    margin: 0 18vw;
}