body{
  background-color: #d5d5d5;
}
.faq {
    width: 80%;
    margin: auto;
    max-width: 800px;
    height: 75vh;
    font-family: 'Space Grotesk', sans-serif;
  }
  
  .faq h1 {
    text-align: center;
    margin: 280px 0 80px 0;
  }
  
  .faq-questions {
    border-top: 1px solid #ccc;
  }
  
  .faq-item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
  
  .faq-question {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px;
    background: #f9f9f9;
    font-size: 14pt;
  }
  
  .faq-answer {
    padding: 10px;
    background: #fff;
    font-size: 12pt;
    color: #878787;
  }
  
  .faq-icon {
    font-size: 24px;
  }
  