:root {
  --Black: #282A28;
  --Grey1: #272A2C;
  --Grey2: #363E44;
  --Grey3: #454E54;
  --Grey4: #687B8D;
  --Grey5: #919FA9;  
  --Grey6: #D9D9D9;
  --Grey7: #FAF9F4;
  --Blue1: #2D3447;
  --Blue2: #226E98;
  --Blue3: #19C9EF;
  --Red: #d64143;
  --Logo: #FF5C58;
  --lime-green: #A1DC97;
  --darkerlime-green: #7AD46E;
  --teal1: #5D9F9E;
  --teal2: #177776;
  --teal3: #32A4AA;
}


h4 {
  color: var(--Grey4);
}

.heroSection {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Space Grotesk', sans-serif;
}



.heroText {
  position: absolute;
  top: 10%;
  left: 60px;
  color: var(--Grey7);
  padding: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.heroTitle {
  width: 50vw;
  font-size: 8pt;
  margin-left: 25vw !important;
}

.paragraph {
  width: 40vw !important;
  font-size: 14pt;
  margin-left: 25vw !important;
}

.Btn {
  height: 54px;
  width: 260px !important;
  border-radius: 25px;
  border: none;
  padding: 0 20px;
  margin-left: 60vw !important;
  font-size: 14pt;
  background-color: var(--Blue2);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.Btn:hover {
  background-color: var(--Blue3);
  border: 1px solid var(--Grey7);
  color: var(--Grey7) !important;
  cursor: pointer;
}

.visionSection {
  width: 64vw;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 80px ;
  min-height: 60vh;
  font-family: 'Space Grotesk', sans-serif;
  color: var(--Grey6);
  background-color: var(--Black);
}

.titleText {
  font-size: 64px;
  margin: 0 80px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.halfVWphoto {
  width: 50vw;
  min-width: 40vw;
  max-width: 50vw;
  height: auto;
  object-fit: cover;
  margin-right: 0; /* Adjusted margin */
}

.containerTxt {
  width: 25vw;
  margin-right:  80px;
}

.serviceSection {
  padding: 0 10px;
  min-height: 60vh;
  font-family: 'Space Grotesk', sans-serif;
  color: var(--Grey2);
  width: 64vw;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.serviceData {
  display: flex;
  justify-content: space-between;
  margin: 0 60px !important;
}
.serviceContainer{
  width: 64vw;
  display: flex;
  align-items: center;
}
.serviceTextSection{
width: 32vw;
}
.serviceDataContainer{
  width: 50%;
}
.serviceContainerTxt{
padding-right: 60px;

}


/* Responsive adjustments for screens less than 768px */
@media (max-width: 768px) {
  .heroSection,
  .visionSection,
  .serviceSection {
      height: auto;
      width: 100%;
      margin: 0;
      padding: 0;
      overflow: hidden;
      flex-direction: column;
      text-align: center;
  }

  .heroText {
      top: 15%;
      left: 0;
      padding: 10px;
      width: 95vw;
  }

  .heroTitle {
      font-size: 28pt;
      width: 90vw;
      margin-left: 10vw !important;

  }

  .paragraph {
      all: unset;
      color: var(--Grey2);
      text-shadow: none;
      text-align: left;
  }

  .Btn {
    margin-left: 25vw !important;
      width: 100%;
      max-width: 220px;
      font-size: 14pt;
      text-align: center;
  }
  .serviceSection{
    margin-top: 20vh;
  }
  .titleText{
    font-size: 18pt;
    width: 75vw !important;
    margin: 0 auto;
  }
  .serviceContainer {
      margin: 0 auto;
      width: 95vw;
      flex-direction: column;
  }
  .serviceTextSection{
    width: 95vw;

  }
  .container {
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100vw;
      margin: 0;
  }

  .containerTxt {
      width: 90vw !important;
      margin: auto;
      padding-bottom: 20px;
      text-align: left;
  }

  .halfVWphoto {
      width: 100vw !important;
      height: auto;
      margin: 0;
  }

  .serviceData {
      flex-direction: column;
      margin: 0 auto !important;
      width: 90vw;
      font-size: 12pt;
  }
  .serviceContainerTxt{
    text-align: left;
  }
}

/* Responsive adjustments for screens between 769px and 1270px */
@media (min-width: 769px) and (max-width: 1270px) {
  .heroText {
      left: 20px;
      padding: 15px;
  }

  .heroTitle {
      width: 70vw;
      font-size: 40pt;
      margin: 0 30px;
  }

  .paragraph {
      width: 60vw;
      font-size: 13pt;
      margin: 0 30px;
  }

  .Btn {
      margin-left: 55vw;
      width: 200px;
      font-size: 13pt;
  }

  .visionSection,
  .serviceSection {
      padding: 0 30px;
  }

  .titleText {
      font-size: 48px;
      margin: 0 30px;
  }

  .containerTxt {
      width: 40vw;
      margin: 0 60px;
  }

  .halfVWphoto {
      width: 60vw;
      margin: 0;
  }

  .serviceData {
      margin: 0 30px;
  }
}

/* Styles for screens larger than 1270px */
@media (min-width: 1271px) {
  .heroText {
      top: 10%;
      left: 60px;
      padding: 20px;
  }

  .heroTitle {
      width: 1000px;
      font-size: 64pt;
      margin: 0 80px;
  }

  .paragraph {
      width: 50vw;
      font-size: 14pt;
      margin: 0 80px;
  }

  .Btn {
      margin-left: 65vw;
      width: 220px;
      font-size: 14pt;
  }

  .visionSection,
  .serviceSection {
      padding: 0 40px;
  }

  .titleText {
      font-size: 64px;
      margin: 0 80px;
  }

  .containerTxt {
      width: 35vw;
      margin: 0 80px;
  }

  .halfVWphoto {
      width: 50vw;
      margin: 0;
  }

  .serviceData {
      margin: 0 100px;
  }
}
